<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📍</text></svg>">

    <!-- Topnavbar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Wiki Maps</title>


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>


</head>

<!-- https://leafletjs.com/examples/quick-start/ add other things to your map, including markers, polylines, polygons, circles,-->
<body>
  <%- include('partials/_header') %>
  <div class="profileTitle">Hey <%=data.pointsInfo[0].name%>! What are you looking for?</div>
  <div class="profileSubtitle"><h4>Your m4ps</h4></div>
  <table class="profilemaptable">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <!-- <th scope="col">&nbsp;</th> -->
      </tr>
    </thead>

    <tbody>
      <% for (const user of data.mapsInfo) {%>

      <tr>
        <td><a href="/maps/<%=user.map_id%>"><%=user.map_title%></a></td>
        <td><%=user.map_description%></td>

        <!-- <td></td> -->
        <%}%>
      </tr>

    </tbody>
  </table>

  <div class="profileSubtitle"><h4>Your added p0ints</h4></div>
  <table class="profilepointtable">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Point Name</th>
        <th scope="col">Description</th>
        <th scope="col">Map</th>
      </tr>
    </thead>
      <% for (const user of data.pointsInfo) {%>
      <tr>
        <td><img src="<%=user.point_image%>" style="width: 40px;"></td>
        <td><%=user.point_title%></td>
        <td><%=user.point_description%></td>
        <td><a href="/maps/<%= user.map_id%>"><%=user.map_title%></a></td>
      </tr>
      <%}%>
  </table>




  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
